*{
    box-sizing: border-box;
}
body{
    background-color: #fdfffc;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#keypress{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin:50px 300px 200px 300px ;
    box-shadow: 0 9px 6px -6px grey;
}
.key{
    display: flex;
    flex-direction: column;
    margin: 10px;
        
}
.key p{
    text-align: center;
}
#main_block{
    background-image: url(images/drumfullClap.png);
    background-repeat: no-repeat;
    height: 401px;
    width: 462px;
}
#main_blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#blocks{
    display: flex;
    flex-wrap: wrap;
}

.block{
    display: fixed;
    color: rgb(63, 127, 191,0);
    border: 1px solid rgb(63, 127, 191,0);
    margin: 0px;
    height: 2%;
    width: 5%;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}